/* Code is assisted by a tutorial on freeCodeCamp found here https://www.freecodecamp.org/news/build-a-wordle-clone-in-javascript/ */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.game-title{
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 3em;
  text-shadow: 1px 1px #DFA4CF;
  border-bottom: 5px solid #49B0D5;
  width: 50%;
  margin-top: 1.5em;
}

.game-wrapper {
  display: flex;
  padding: 10px;
  margin: 25px 0;
  flex-direction: row;
  align-self: center;
  background-color: white;
  border-radius: 0.5rem 0.5rem;
}

.image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-image {
    border: 2px solid black;
    height: 100%;
    width: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px;
    margin-right: 2rem;
    margin-left: 1rem;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.third-row {
    margin-bottom: 0.5rem;
}

.keyboard-button {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.7rem;
  margin: 0 4px;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .game-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .word-image {
    height: 20rem;
    width: 90%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .image-wrap {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .game-wrapper {
    width: 100%;
  }
  .word-image {
    width: 90%;
  }
  .keyboard-button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .keyboard-button{
    font-size: 1rem;
  }
}